<!--
    © Copyright 2014-2019 Codemarket - Todos os direitos reservados.
!-->

<style>
    .swal2-popup {
        font-size: 1.6rem !important;
    }

    {{ code_css }}
</style>

{{ code_texto_boleto }}
<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ code_botao_boleto }}" id="button-confirm" data-loading-text="{{ text_code_loading }}" class="btn btn-primary"/>
    </div>
</div>

<a href="" id="url" style="visibility:hidden;" target="_blank"></a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js" integrity="sha256-2RS1U6UNZdLS0Bc9z2vsvV4yLIbJNKxyA4mrx5uossk=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#button-confirm').on('click', function () {
        $.ajax({
            url: 'index.php?route=extension/payment/code_mp_boleto/confirm',
            dataType: 'json',
            beforeSend: function () {
                $('#button-confirm').button('loading');
            },
            complete: function () {
                $('#button-confirm').button('reset');
            },
            success: function (json) {
                if (json['url']) {
                    $('a#url').attr('href', json['url']);
                    let interval = setInterval(() => {
                        if ($('button.swal2-confirm')) {

                            $('button.swal2-confirm').click(() => {
                                window.open(json['url'], '_blank');
                                window.location = json['redirect'];
                            });

                            clearInterval(interval);
                        }
                    });
                    Swal.fire({
                        title: 'Sucesso!',
                        type: 'success',
                        html: '{{ code_text_success_boleto }}',
                        showCancelButton: true,
                        showConfirmButton: true,
                        confirmButtonText: 'Abrir Boleto',
                        cancelButtonText: 'Fechar',
                        //width: '600px'
                    }).then((result) => {
                        if (!result.value) {
                            window.location = json['redirect'];
                        }
                    });
                } else {
                    if(json['error']) {
                        Swal.fire(
                            'Ops!',
                            json['error'],
                            'error'
                        )
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>


